.thumbnail {
    padding: 0px;
}

.panel {
    position: relative;
}

.panel > .panel-heading:after, .panel > .panel-heading:before {
    position: absolute;
    top: 11px;
    left: -16px;
    right: 100%;
    width: 0;
    height: 0;
    display: block;
    content: " ";
    border-color: transparent;
    border-style: solid solid outset;
    pointer-events: none;
}

.panel > .panel-heading:after {
    border-width: 7px;
    border-right-color: #f7f7f7;
    margin-top: 1px;
    margin-left: 2px;
}

.panel > .panel-heading:before {
    border-right-color: #ddd;
    border-width: 8px;
}

#id_content {
    height: 100px;
}

#footerline {
    width: 50%;
    overflow: hidden;
    margin: 5px auto 10px auto;
    text-align: center;
}

#top3 {
    width: 20px;
    margin-right: 10px;
    border-width: 8px;
}

#general {
    margin: auto;
    width: 960px;
    height: 800px;
}