{% extends "base.html" %}
{% block content %}
    <div id="history" class="row row-content">
        <div class="col-xs-12 col-sm-6 col-lg-8">
            <div class="panel panel-primary">
                <div class="panel-body">
                    Hello!
                </div>
                <div class="panel-footer">
                    <p>* I am Martin Salvachua -- a Computer Science student in university of Málaga,
                        completing my thesis using this final project</p>
                    <p>* this is a social media video adapted website using Django</p>
                    <p>
                        * Apart from technology, I like playing football and terror movies!
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
