{% extends "base.html" %}
{% block content %}
    <div id="history" class="row row-content">
        <div class="col-xs-12 col-sm-6 col-lg-8">
            <div class="panel panel-primary">
                <div class="panel-body">
                    Hello!
                </div>
                <div class="panel-footer">
                    <p>
                        * Soy Martin Salvachua, estudiante del grado ingeniería informática en la Universidad de
                        Málaga
                        UMA), y este proyecto es para el trabajo final de grado (TFG).
                    </p>
                    <p>
                        * Se trata de una red social orientada a los universitarios, en la que se comparte contenido
                        multimedia de carácter educativo.
                    </p>
                    <p>
                        * He desarrollado este sitio web utilizando Django
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
