{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="container" style="width: 50%">
        <h2>Resultados obtenidos de la búsqueda</h2>

        <form method="POST" action="." enctype="multipart/form-data">{% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-info" value="Buscar">
        </form>
    </div>

    {% if videos %}

        <div class="container-fluid text-center" style="height: max-content">

            <h1>Lista de videos</h1>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th style="text-align: center">Titulo</th>
                    <th style="text-align: center">Propietario</th>
                    <th style="text-align: center">Asignatura</th>
                    <th style="text-align: center">Grado</th>
                    <th style="text-align: center">Comentarios</th>
                    <th style="text-align: center">Visualizaciones</th>
                    <th style="text-align: center">Likes</th>
                    <th style="text-align: center">Dislikes</th>
                    <th style="text-align: center">Rating</th>
                    <th style="text-align: center">Fecha Subida</th>
                    <th style="text-align: center">Enlace</th>

                </tr>
                </thead>
                <tbody>
                {% for video in videos %}
                    {% for subject in video.subjects.all %}
                        <tr>
                            <td>{{ video.title }}</td>
                            <td>{{ video.user }}</td>
                            <td>{{ subject.name }}</td>
                            <td>{{ subject.degree }}</td>
                            <td>{{ video.comments }}</td>
                            <td>{{ video.views }}</td>
                            <td>{{ video.likes.count }}</td>
                            <td>{{ video.dislikes.count }}</td>
                            <td>{{ video.rating.count }}</td>
                            <td>{{ video.added }}</td>
                            <td><a href="{% url 'videos:video_id' video.id %}">Enlace</a></td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}