{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="container" style="width: 50%">
        <h2>Resultados obtenidos de la búsqueda</h2>

        <form method="POST" action="." enctype="multipart/form-data">{% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-info" value="Buscar">
        </form>
    </div>

    <div class="container-fluid text-center" style=" height: max-content">
        {% if subjects %}
            <h1>Asignaturas</h1>
            <p>Aquí se encuentra un listado con todas las asignaturas.
            </p>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th style="text-align: center">Nombre</th>
                    <th style="text-align: center">Curso</th>
                    <th style="text-align: center">Grado</th>
                    <th style="text-align: center">Centro</th>
                    <th style="text-align: center">Universidad</th>
                    <th style="text-align: center">Creditos</th>
                    <th style="text-align: center">Creada</th>
                    <th style="text-align: center">Validada</th>
                    <th style="text-align: center">Enlace</th>
                </tr>
                </thead>
                <tbody>
                {% for subject in subjects %}
                    <tr>
                        <td>{{ subject.name }}</td>
                        <td>{{ subject.course }}</td>
                        <td>{{ subject.degree }}</td>
                        <td>{{ subject.degree.center }}</td>
                        <td>{{ subject.degree.center.university }}</td>
                        <td>{{ subject.degree.credits }}</td>
                        <td>{{ subject.added }}</td>
                        <td>{{ subject.validated }}</td>
                        <td><a href="{% url 'subjects:subject_detail' subject.id %}">Enlace</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}