{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="container" style="width: 50%">
        <h2>Resultados obtenidos de la búsqueda</h2>

        <form method="POST" action="." enctype="multipart/form-data">{% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-info" value="Buscar">
        </form>
    </div>

    <div class="container-fluid text-center" style="height: max-content">
        {% if users %}
            <div class="panel-heading">
                <h1>Usuarios</h1>
                <div class="panel-body">

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th style="text-align: center">Nombre de usuario</th>
                            <th style="text-align: center">Rating</th>
                            <th style="text-align: center">Nombre</th>
                            <th style="text-align: center">Apellido</th>
                            <th style="text-align: center">Email</th>
                            <th style="text-align: center">Seguidores</th>
                            <th style="text-align: center">Videos Subidos</th>
                            <th style="text-align: center">Perfil</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for user in users %}

                            <tr>
                                <td>{{ user.username }}</td>
                                <td>{{ user.get_average_rating }}</td>
                                <td>{{ user.first_name }}</td>
                                <td>{{ user.last_name }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.followers.count }}</td>
                                <td>{{ user.video_set.count }}</td>
                                <td><a href="{% url "accounts:detail" slug=user.slug %}"> Enlace</a></td>

                            </tr>
                        {% endfor %}

                        </tbody>

                    </table>
                </div>
            </div>

        {% endif %}
    </div>
{% endblock %}