{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block header %}
    {{ profile.slug }}|{{ block.super }}
{% endblock %}
{% block content %}
    <div>
        <h1>{{ profile.username }} perfil
            {% include "items/follow_button.html" %}
        </h1>
    </div>
    <div class="container-fluid text-center" style="height: max-content; padding-top: 20px">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5 col-sm-4 text-center"
                     style="border: #555555; border-style: solid; border-width: 1px">
                    <div class="card-header"><h1>{{ profile.username }}</h1>
                    </div>
                    <div class="card-body">
                        {% if profile.image %}
                            <img style="height: 50%; width: 50%;margin-top: 20px" src="{{ profile.image.url }}">
                        {% else %}
                            <img class="img-responsive" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png"
                                 style="height: 50%; width:50%;margin-left: 25%">
                        {% endif %}

                    </div>
                    <div class="card-footer" style="padding-top: 10px">
                        <div class="row1" style="padding-top: 5%">
                            <h4><strong>Información</strong></h4>
                            <p>
                                <strong>Username:</strong> {{ profile.username }}
                            </p>
                            {% if profile.first_name %}<p><strong>Nombre:</strong> {{ profile.first_name }}</p>
                            {% endif %}
                            {% if profile.last_name %}<p><strong>Apellido:</strong> {{ profile.last_name }}</p>
                            {% endif %}
                            <p><strong>Email:</strong> {{ profile.email }}</p>
                            <p><strong>Registrado:</strong> {{ profile.added.date }}</p>
                            <p><strong>Ultimo acceso:</strong> {{ profile.last_login }}</p></div>
                    </div>
                    <div class="row1" style="padding-top: 5%">
                        <h4><strong>Aportaciones</strong></h4>
                        <h4><span class="label label-primary">Videos subidos {{ profile.video_set.count }}</span></h4>
                        <h4><span
                                class="label label-primary ">Comentarios realizados {{ profile.comment_set.count }}</span>
                        </h4>
                        <h4><span class="label label-primary ">Seguidores {{ profile.followers.count }}</span></h4>
                    </div>
                    <div class="row" style="padding-top: 5%">
                        <h4><strong>Descripcion</strong></h4>
                        <p>Aqui va la descripcion de cada perfil</p>
                    </div>
                    <div class="row" style="padding-top: 5%">
                        <h4><strong>Intereses</strong></h4>
                        <p>Aqui van las asignaturas que en las que esta interesado</p>
                    </div>
                </div>
                <div class="col-md-7 col-sm-6 text-left">

                    {% include "items/comments.html" %}
                </div>
            </div>
        </div>
    </div>

    <div>
        {% if request.user != profile %}
            <div class="container-fluid text-center" style="padding-top: 20px">
                <h2>Puntúa a este usuario</h2>
            </div>
            <div class="container-fluid" style="padding-top: 30px">
                <div class="col-sm-9">
                    <form method="POST" action=".">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit" class="btn btn-primary" value="Post">
                    </form>
                </div>
                <div class="col-sm-3"></div>
            </div>
        {% endif %}

    </div>



{% endblock %}
