{% extends "base.html" %}

{% block header %}
    {{ block.super }}
{% endblock %}
{% block content %}
    {% if subjects %}


        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown">
                Asignaturas <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                {% for subject in subjects %}

                    <li><a href="#">{{ subject.name }}</a></li>
                {% endfor %}

            </ul>

        </div>



    {% endif %}


{% endblock %}