{% extends "base.html" %}

{% block content %}
    {% if not request.user.is_authenticated %}
        <div class="alert alert-danger col-sm-11">
            <h4>YOU SHOULD <strong>
                <a href="{% url "login" %}"> Sign In</a> or
                <a href="{% url "register" %}">Sing Up</a>
            </strong>First to see your account</h4>
        </div>
        <div class="alert alert-info col-sm-11">
            <h4>After that, You Can meet People like : </h4>
        </div>

    {% else %}
        <div class="alert alert-info col-sm-10 ">
            <h2><strong>{{ subject.name }}</strong>
                <a href="{% url 'subjects:subject_add' subject.id %}" class="btn btn-primary">Añadir a intereses
                </a>
            </h2>
            <h4>{{ subject.course }} Curso</h4>
            <h4>{{ subject.degree }}</h4>
            <h4>{{ subject.degree.center }}</h4>
            <h4>{{ subject.degree.center.university }}</h4>

        </div>

        {% if subject.videos_subjects.count == 0 %}
            <div class="alert alert-danger col-sm-10 ">
                <h4> No hay videos subidos</h4>
            </div>
        {% else %}
            <div class="alert alert-info col-sm-10 ">
                {% if  subject.videos_subjects.count == 1 %}
                    <h4> {{ subject.videos_subjects.count }} video subido</h4>
                {% else %}
                    <h4> {{ subject.videos_subjects.count }} videos subidos</h4>
                {% endif %}
            </div>

            <div class="alert alert-info col-sm-10 ">
                <h4>Lista de videos</h4>
                {% for video in videos %}
                    <ul>
                        <li><a href="{% url "videos:video_id" video.id %}"> {{ video.title }}, {{ video.user }}</a></li>
                    </ul>
                {% endfor %}
            </div>

        {% endif %}
        {% if subject.description %}
            <div class="alert alert-info col-sm-10 ">
                <p>{{ subject.description }}</p>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}