{% extends "base.html" %}

{% block header %}
    {{ block.super }}
{% endblock %}
{% block content %}
    {% if subjects %}


        <div class="container-fluid text-center" style="height: max-content">

            <h1>Listado Asignaturas</h1>
            <p>Aquí se encuentra un listado con todas las asignaturas.
            </p>
            <div class="col-md-12">
                <table id="subject-table" class="table table-striped table-responsive">
                    <thead>
                    <tr>
                        <th style="text-align: center">Nombre</th>
                        <th style="text-align: center">Curso</th>
                        <th style="text-align: center">Grado</th>
                        <th style="text-align: center">Centro</th>
                        <th style="text-align: center">Universidad</th>
                        <th style="text-align: center">Creditos</th>
                        <th style="text-align: center">Creada</th>
                        <th style="text-align: center">Validada</th>
                        <th style="text-align: center">Enlace</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for subject in subjects %}
                        <tr>
                            <td>{{ subject.name }}</td>
                            <td>{{ subject.course }}</td>
                            <td>{{ subject.degree }}</td>
                            <td>{{ subject.degree.center }}</td>
                            <td>{{ subject.degree.center.university }}</td>
                            <td>{{ subject.degree.credits }}</td>
                            <td>{{ subject.added }}</td>
                            <td>{{ subject.validated }}</td>
                            <td><a href="{% url 'subjects:subject_detail' subject.id %}">Enlace</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    {% endif %}

    <script>
        $(document).ready(function () {
            // Setup - add a text input to each footer cell
            $('#subject-table thead tr').clone(true).appendTo('#subject-table thead');
            $('#subject-table thead tr:eq(1) th').each(function (i) {
                var title = $(this).text();
                $(this).html('<input type="text" style="width: 110%;" placeholder="' + title + '" />');

                $('input', this).on('keyup change', function () {
                    if (table.column(i).search() !== this.value) {
                        table
                            .column(i)
                            .search(this.value)
                            .draw();
                    }
                });
            });

            var table = $('#subject-table').DataTable({
                orderCellsTop: true,
                fixedHeader: true,
                language: {
                    lengthMenu: "Mostrar _MENU_ registros por página",
                    zeroRecords: "No se han encontrado resultados",
                    info: "Mostrando página _PAGE_ / _PAGES_",
                    infoEmpty: "No hay registros",
                    infoFiltered: "(filtrado de _MAX_ registros totales)",
                    paginate: {
                        first: "Primera",
                        previous: "Anterior",
                        next: "Siguiente",
                        last: "Última"
                    },
                    search: "Buscar"
                }
            });
        });
    </script>
{% endblock %}