{% extends "base.html" %}

{% block header %}
    {{ block.super }}
{% endblock %}
{% block content %}
    {% if subjects %}


        <div class="container-fluid text-center" style="height: max-content">

            <h1>Listado Asignaturas</h1>
            <p>Aquí se encuentra un listado con todas las asignaturas.
            </p>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Curso</th>
                    <th>Grado</th>
                    <th>Centro</th>
                    <th>Universidad</th>
                    <th>Creditos</th>
                    <th>Creada</th>
                    <th>Validada</th>
                    <th>Enlace</th>
                </tr>
                </thead>
                <tbody>
                {% for subject in subjects %}
                    <tr>
                        <td>{{ subject.name }}</td>
                        <td>{{ subject.course }}</td>
                        <td>{{ subject.degree }}</td>
                        <td>{{ subject.degree.center }}</td>
                        <td>{{ subject.degree.center.university }}</td>
                        <td>{{ subject.degree.credits }}</td>
                        <td>{{ subject.added }}</td>
                        <td>{{ subject.validated }}</td>
                        <td><a href="{% url 'subjects:subject_detail' subject.id %}">Enlace</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>


        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown">
                Asignaturas <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                {% for subject in subjects %}

                    <li><a href="{% url "subjects:subject_detail" subject_id=subject.id %}">{{ subject.name }}</a></li>

                {% endfor %}

            </ul>

        </div>



    {% endif %}


{% endblock %}