{% extends "base.html" %}

{% block header %}
    {{ block.super }}
{% endblock %}
{% block content %}
    <form method="POST" enctype="multipart/form-data" onsubmit="return checkCheckBoxes(this)">
        {% csrf_token %}

        <div class="alert alert-warning col-sm-10 ">
            <label> Título </label><br>
            <input type="text" name="title">
            <br>

            <label>Asignatura </label><br>

            <!-- Lista de opciones -->
            <select id="subjects" name="subjects">
                {% for subject in subjects %}
                    <option value="{{ subject.id }}">{{ subject.name }}</option>
                {% endfor %}
            </select>
            <br>

            <label>Video</label>
            <br>
            <input type="file" name="file">
            <br>
            <div class="checkbox">
                <label><input type="checkbox" name="checkbox" value="">He leído los términos y condiciones</label>
            </div>
            <button type="submit">Subir</button>
        </div>

    </form>
    <script>
        function checkCheckBoxes(theForm) {
            if (theForm.checkbox.checked == false) {
                alert('Por favor selecciona la casilla he leido los terminos y condiciones');
                return false;
            } else {
                return true;
            }

        }
    </script>
{% endblock %}

