{% extends "base.html" %}

{% block header %}
    {{ block.super }}
{% endblock %}
{% block content %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <label> Title: </label><br>
        <input type="text" name="title">
        <br>

        <label>Subject: </label><br>

        <!-- Lista de opciones -->
        <select id="subjects" name="subjects">
            {% for subject in subjects %}
                <option value="{{ subject.id }}">{{ subject.name }}</option>
            {% endfor %}
        </select>
        <br>

        <label>Video:</label>
        <br>
        <input type="file" name="file">
        <br>
        <button type="submit">Upload</button>
    </form>
{% endblock %}