{% if  users.exists %}
    {% for profile in users %}
        {% if request.user != profile %}

            <div class="col-sm-3 col-md-3">
                <div class="thumbnail">
                    {% if profile.image %}
                        <img style="height: 192px; width:192px; " src="{{ profile.image.url }}">
                    {% else %}
                        <img class="img-responsive" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">

                    {% endif %}

                    <div class="caption">
                        <h3>{{ profile }}</h3>
                        <p>Asignaturas de interés:</p>
                        <p>
                            <ul>
                                {% for subject in profile.subjects.all %}
                                    <li>{{ subject.name }}</li>
                                {% endfor %}
                        <p style="padding-top: 5%"><a href="{{ profile.get_absolute_url }}" class="btn btn-primary"
                                                      role="button">Perfil</a>
                            {% include "items/follow_button.html" %}
                        </p>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-1 col-md-1">
            </div>
        {% endif %}
    {% endfor %}
{% else %}
    {% for profile in all_users %}
        {% if request.user != profile %}

            <div class="col-sm-3 col-md-3">
                <div class="thumbnail">
                    {% if profile.image %}
                        <img style="height: 192px; width:192px; " src="{{ profile.image.url }}">
                    {% else %}
                        <img class="img-responsive" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">

                    {% endif %}

                    <div class="caption">
                        <h3>{{ profile }}</h3>
                        <p>Interesado en las asignaturas:</p>
                        {% for subject in profile.subjects.all %}
                            <p>{{ subject.name }}</p>
                        {% endfor %}
                        <p><a href="{{ profile.get_absolute_url }}" class="btn btn-primary" role="button">Perfil</a>
                            {% include "items/follow_button.html" %}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-1 col-md-1">
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
