{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="col-sm-8">
        <video width="720" height="480" controls="controls">
            <source src={{ video.file.url }} type="video/mp4"/>
        </video>
        <footer>
            <div class="panel-heading">

                <h3> {{ video.title }} </h3>
                <h6>Publicado el {{ video.added }}</h6>
                {{ video.views }} visualizaciones
                <div class="pull-right" style="margin-right: 20px">
                    <a href="{{ video.get_like_url }}">

                        {% if request.user in video.get_like_instances %}
                            <span class="glyphicon glyphicon-thumbs-up " style="color: #993333"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-thumbs-up" style="color: darkgray"></span>
                        {% endif %}
                    </a>
                    {{ video.likes.count }}

                    <a href="{{ video.get_dislike_url }}">

                        {% if request.user in video.get_dislike_instances %}
                            <span class="glyphicon glyphicon-thumbs-down " style="color: #993333"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-thumbs-down" style="color: darkgray"></span>
                        {% endif %}
                    </a>
                    {{ video.dislikes.count }}
                </div>
            </div>


        </footer>
        <div class="panel-heading">
            <a href="{% url "accounts:detail" slug=video.user.slug %}">
                {% if video.user.image %}
                    <img style="height: 60px; width:60px; border-radius: 50%" src="{{ video.user.image.url }}">
                {% else %}
                    <img style="height: 60px; width:60px; " class="img-responsive"
                         src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                {% endif %}
                <h4><strong>{{ video.user }}</strong></h4>
            </a>
            <div class="panel" style="align-self: auto; background-color: aliceblue">
                <h4>{{ video.description }} </h4>
            </div>

        </div>
    </div>
    {% if request.user == user %}
        <form method="POST" action="{% url "videos:video_id" video_id=video.id %}" class=form-group>
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-primary" value="Post">
        </form>
    {% endif %}

    {% for comment in comments %}
        <div class="form-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {% if comment.comments.get_user_object.image %}
                        <img src="{{ comment.comments.get_image_url }}" alt="..." style="width: 6%;height: 6%">
                    {% else %}
                        <img src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png" alt="..."
                             style="width: 6%;height: 6%">
                    {% endif %}
                    <a href='{% url "accounts:detail" slug=comment.comments.user.username %}'>
                        <strong>{{ comment.comments.user }}</strong>
                    </a>
                    <span class="text-muted">Hace {{ comment.comments.added|timesince }}</span>
                </div>
                <div class="panel-body">
                    <p>
                        {{ comment.comments.content|linebreaksbr }}

                    </p>
                </div><!-- /panel-body -->
                <footer>
                    <strong>
                        <a href="#" class="comment-reply-btn"> Responder </a>
                        |
                        {% if comment.comments.children.count > 0 %}
                            {{ comment.comments.children.count }} Comments
                        {% endif %}
                        |

                        <a href="{{ comment.comments.get_like_url }}">

                            {% if request.user in comment.comments.get_like_instances %}
                                <span class="glyphicon glyphicon-thumbs-up " style="color: #993333"></span>
                            {% else %}
                                <span class="glyphicon glyphicon-thumbs-up" style="color: darkgray"></span>
                            {% endif %}
                        </a>
                        {{ comment.comments.likes.count }}
                        |
                        <a href="{{ comment.comments.get_dislike_url }}">

                            {% if request.user in comment.comments.get_dislike_instances %}
                                <span class="glyphicon glyphicon-thumbs-down " style="color: #993333"></span>
                            {% else %}
                                <span class="glyphicon glyphicon-thumbs-down" style="color: darkgray"></span>
                            {% endif %}
                        </a>
                        {{ comment.comments.dislikes.count }}

                    </strong>
                    <div class="comment-reply" style="display: none">
                        <blockquote class="blockquote">
                            {% for replay in comment.comments.children %}
                                <p>{{ replay.content }}</p>
                                <footer>
                                    <a href="{% url "accounts:detail" slug=replay.user.slug %}">
                                        {{ replay.user }}
                                    </a> | {{ replay.added|timesince }} ago
                                </footer>
                            {% endfor %}
                        </blockquote>
                        {% if request.user.is_authenticated %}

                            <form name="form" method="POST"
                                  action="{% url "accounts:detail" slug=user.slug %}/">{% csrf_token %}
                                {{ form|crispy }}
                                <input type="hidden" name="parent_id" value="{{ comment.comments.id }}">
                                <input type="submit" class="btn btn-default" value="Reply">
                            </form>
                        {% endif %}
                    </div>
                </footer>
            </div><!-- /panel panel-default -->
        </div><!-- /col-sm-5 -->
    {% endfor %}
{% endblock %}