{% extends "base.html" %}

{% block content %}

    <h1> {{ video.title }} </h1>

    <video width="720" height="480" controls="controls">
        <source src={{ video.file.url }} type="video/mp4"/>
    </video>
    <div>
        {{ video.views }} views
    </div>

    <h4>Description: {{ video.description }} </h4>

    <a href="{{ video.get_like_url }}">

        {% if request.user in video.get_like_instances %}
            <span class="glyphicon glyphicon-thumbs-up " style="color: #993333"></span>
        {% else %}
            <span class="glyphicon glyphicon-thumbs-up" style="color: darkgray"></span>
        {% endif %}
    </a>
    {{ video.likes.count }}

    <a href="{{ video.get_unlike_url }}">

        {% if request.user in video.get_unlike_instances %}
            <span class="glyphicon glyphicon-thumbs-down " style="color: #993333"></span>
        {% else %}
            <span class="glyphicon glyphicon-thumbs-down" style="color: darkgray"></span>
        {% endif %}
    </a>
    {{ video.unlikes.count }}


    {% if video.user.image %}
        <img style="height: 60px; width:60px; " src="{{ video.user.image.url }}">
    {% else %}
        <img style="height: 60px; width:60px; " class="img-responsive"
             src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">


    {% endif %}

    <h4>Owner: {{ video.user }}</h4>


{% endblock %}